VITE_API_URL="http://localhost:3001/api"
PORT="3001"

MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_USER="root"
MYSQL_PASSWORD="SUA_SENHA_AQUI"
MYSQL_DATABASE="eventus"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="seuemail@gmail.com"
SMTP_PASSWORD="COLE_AQUI_SUA_SENHA_DE_APP"
SMTP_FROM="Eventus <seuemail@gmail.com>"
